h1	{
	color:orange;
	font-size:4.5em;
	text-shadow: 2px 2px #000;
	line-height:0.65em;
	color: white;
	}

#amp	{
	color:#FA5858;
	font-size:80px;"
}


img	{
	width:100%;
}


#start {
	padding-top: 12.4em;
	height:25em;
	background-image: url("../images/homepage_main.JPG");
	background-size: cover;
}

#word-on-pic	{
	padding-right: 10%;
	float: right;
	line-height: 1em;
}

p {
	font-size: 1.5em;
}