h1	{
	font-family: 'Lobster', cursive;	
	//font-family:Georgia;
	color:orange;
	font-size:60px;
	text-shadow: 2px 2px #000;
	line-height:50px;
	}

h2	{
	//font-family:Garamond;
	font-family: 'Lobster', cursive;
	color:orange;
	text-shadow: 2px 2px #000;
	line-height:50px;
	font-size:2.5em;
	}

h3	{
	font-size: 2em;
	line-height: 0;
	}

.pad	{
	padding-left: 40px;
	padding-right: 40px;
	font-size: 1.5em;
	}

.text_left	{
	padding-left: 50px;
	padding-right: 40px;
	text-align: left; 
	font-size: 1.5em;
	}

#left_col	{
	float: left;
	width: 49%;
}

#right_col	{
	float: right;
	width: 49%;
}

.desc	{
	//background: rgba(0,104,139,0.8);
	//background: rgba(16,78,139,0.8);
	background: rgba(25,25,112,0.8);
	//background: rgba(39,64,139,0.8);
	border:dotted 2px grey;
	color:white;
	margin-bottom: 20px;
	padding-bottom: 20px;
	}

p	{
	font-size:2em;
	}

#smaller{
	font-size:1.5em;
	}

a	{
	color:white;
	}