body {
  font-family: 'Ubuntu', Trebuchet MS;
  text-align: center;
  background-color: #a9d7d1;
}

main {
  padding: 30px 0 30px 0;
	background-color: rgb(250, 250, 250);
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

fieldset {
  width: 85%;
  border: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px; 
}

.lside {
  //background-color: rgba(255, 0, 0, 0.1);
  width: 48%;
  float: left;
  text-align: right;
  vertical-align: middle;
}

.rside {
  //background-color: rgba(0, 255, 0, 0.1);
  width: 48%;
  float: right;
  text-align: left;
}

input:invalid {
  border: 1px solid red;
}

button {
  background-color: #59ace0;
  border-radius: 3px;
  border: none;
  padding: 10px 20px 10px 20px;
  color: white;
  font-size: 16px;
}

#comments {
  height: 50px;
}