body {
  font-family: 'Ubuntu', Trebuchet MS;
  text-align: center;
}

main {
	background-color: #eee;
}

h1 {
  font-size: 30px;
  padding-top: 40px;
}

figure {
  margin: 10px;
  padding: 5px;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(1, minmax(0px, 1fr));
}

h3 {

}

#img-caption {
  padding: 15px;
}

#image {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#tribute-info {
  text-align: left;
  display: grid;
  grid-template-columns: auto minmax(550px, 35%) auto;
  grid-template-areas:
    "lside midtop rside"
    "lside midbot rside"
    "foot foot foot"
}

#lside {
  grid-area: lside;
}

#rside {
  grid-area: rside;
}

#top-head {
  grid-area: midtop;
  margin: 2vh 0 -2vh 5vw; 
}

#mid-section {
  grid-area: midbot;
}

#foot-quote {
  text-align: center;
  grid-area: foot;
  padding-left: 50px;
  padding-right: 50px;
}

li {
  padding-top: 10px;
}

#bot-link {
  padding-left: 7vw;
  padding-right: 7vw; 
  padding-bottom: 7vh;
}
